.c-home{
	height: 50vh;
}
.banner{
	position: relative;
	.row{
		height: 100%;
		align-items: flex-end;
	}
	.separa{
		padding: 30px;
		box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
		background: white;
		margin-bottom: -25px;
	}
	.form-banner{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 100%;
		z-index: 2;
		h2{
			text-transform: uppercase;
			letter-spacing: 12px;
		}
		label{
			margin: 0;
			color: $gray;
		}
		input{
			width: 100%;
			border: solid 1px $azul;
			padding: 10px 15px;
			display: block;
			margin: 5px 0;
			&[type="submit"]{
				width: auto;
				background-color: $azul;
				color: white;
			}
		}
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		z-index: 1;
		background: $gray;
		border: none;
		color: white;
		width: 30px;
		height: 30px;
		&.slick-prev{
			left: 10%;
			transform: translateY(-50%) translateX(-10%);
		}
		&.slick-next{
			transform: translateY(-50%) translateX(-10%);
			right: 10%;
		}
	}
}

.quantity {
	position: relative;
	padding: 5px 0;
	overflow:hidden; 
	width: 50%;
	float: left;
	padding-right: 30px; 
	input {
		width: 45px;
		height: 42px;
		line-height: 1.65;
		float: left;
		display: block;
		padding: 0;
		margin: 0;
		padding-left: 20px;
		border: 1px solid #eee;
		&:focus {
			outline: 0;
		}
	}
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}
input[type=number]
{
	-moz-appearance: textfield;
}
.quantity-nav {
	float: left;
	position: relative;
    transform: translateX(25px);
	height: 42px;
}
.quantity-button {
	position: relative;
	cursor: pointer;
	// border-left: 1px solid #eee;
	width: 20px;
	text-align: center;
	color: #333;
	font-size: 25px;
	line-height: 1.2;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	&.quantity-up {
		position: absolute;
		height: 50%;
		top: 5px;
		// border-bottom: 1px solid #eee;
	}
	&.quantity-down {
		position: absolute;
		top: calc(50% + 5px);
		right: 0;
		height: 50%;
		transform: rotate(180deg);
	}
}
