.formulario{
	font-family: "AdobeArabic-Regular", system-ui;
	font-size: 20px;
	p{
		margin: 0;
		padding: 4px 0;
		span.ajax-loader{
			display: none;
		}
	}
	input,textarea{
		display: block;
		width: 100%;
		border: solid 1px $azul;
		border-radius: 4px;
		letter-spacing: 2px;
		padding-left: 15px;
	}
	input[type="submit"]{
		background: $azul;
		color: white;
		width: auto;
		border-radius: 0;
		padding: 5px 40px;
		text-transform: uppercase;
	}
}