$gray:#767575;
$vino:#A81C1B;
$azul:#33383D;
$dorado: #B29D7F;
.color{
	&-white{
		color: white;
	}
	&-dorado{
		color: $dorado;	
	}
	&-gray{
		color: $gray;
	}
}
.bg{
	&-azul{
		background-color: $azul;
	}
}
.font{
	&-arabic{
		font-family: "AdobeArabic-Regular", system-ui;
	}
	&-roboto{
		font-family: 'Roboto Slab', system-ui;
	}
}
input:focus,button[type="button"]:focus{
	box-shadow: none;
	outline: none;
	border:none;
}

.v-and-m-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 30px; /* IE6 workaround*/
	height: 100%;
	overflow: hidden;
}

.v-and-m-responsive iframe,
.v-and-m-responsive object,
.v-and-m-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.d-grid{
	display: grid;
	grid-template: 300px 150px 150px 350px / 33% 33% 33%;
	.item{
		background: silver;
		border:solid 1px gray;
		.item{
			display: subgrid;
		}
	}
}

