.item-galery{
	padding-top: 15px;
	padding-bottom: 15px;
}

.button-group{
	padding: 0;
	list-style: none;
	text-align: center;
	button{
		&.is-checked{
				position: relative;
				&:after{
					content: "";
					display: block;
					position: absolute;
					bottom: 20px;
					height: 2px;
					width: 100%;
					left: 0;
					background: $dorado;
				}
		}
	}
	button{
		display: inline-block;
		background: none;
		border: none;
		padding: 30px;
		color: $gray;
		font-family: 'TwCenMT-Bold', system-ui;
		font-weight: 100;
		&:focus{
			outline: none;
		}
	}
}
.grid-item{
	a{
		display: block;
		cursor: pointer;
	}
	img{
		max-width: 350px;
		margin-bottom: 20px;
	}
}
.item {
	img{
	    margin-bottom: 10px;
	    max-height: 500px;
	}
}
@media only screen and (min-width: 468px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 992px;
    }
}